<h2>Name: {{name}}</h2>
<h3>Age: {{age}}</h3>
<h3>Description: {{description}}</h3>
<h3>Breed: {{breed}}</h3>
<h3>Chip Number: {{chip_number}}</h3>
<img {{bind-attr src = picture }} alt = "breed"><br>

<div class="text-center" id="map_wrapper">
  <div id="map_campus" class="mapping"></div>
  <iframe width="600" height="340" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
    src="http://maps.google.com/maps?q=208+SW+5th+Ave,+Portland,+OR+97204&z=14&amp;output=embed">
  </iframe>
</div>
