<div class="col-md-6 text-right">
  <h2>{{name}}</h2>
</div>

<div class="col-md-6">
  <h4>Age: {{age}}</h4>
  <h4>Description: {{description}}</h4>
  <h4>Breed: {{breed}}</h4>
  <h4>Chip Number: {{chip_number}}</h4>
</div>

<hr>

<div class="col-md-12 text-center">
  <img {{bind-attr src = picture }} class="portrait" alt="breed">
</div>

<div class="text-center" id="map_wrapper">
  <div id="map_campus" class="mapping"></div>
  <iframe width="600" height="340" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
    src="http://maps.google.com/maps?q=208+SW+5th+Ave,+Portland,+OR+97204&z=14&amp;output=embed">
  </iframe>
</div>

<div class="bumper"></div>
